.auth{
  padding: 1em;
  min-height: 100vh;
  @include center;
  &__inner{
    display: grid;
    grid-template-columns: 34.375em calc(100% - 34.375em);
    border-radius: 1.5em;
    background: $white;
    box-shadow: 0px 72px 80px -48px #223A28;
    width: 81em;
    max-width: 100%;
  }
  &__col{
    padding: 2.5em 4em 4.125em;
  }
  &__logo{
    width: 13.5em;
    img{
      width: 100%;
      display: block;
    }
  }
}
